:root {
  --dark: #121212;
  --blue-300: #053742;
  --blue-200: #39a2db;
  --blue-100: #a2dbfa;
  --font-color: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--dark);
}
